<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Join Page</title>
</head>
<body>
<h1>WELCOME!</h1>
<form action="/joinProc" method="post" name="joinForm">
    <input type="text" name="username" placeholder="아이디를 입력해주세요" />
    <input type="password" name="password" placeholder="비밀번호를 입력해주세요" />
    <input type="submit" vallue="가입하기" />
</form>
</body>
</html>